.switch_wrapper {
    display: flex;
    gap: 10px;
}
.switch_wrapper > button {
    background: none;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}
.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
}
.on {
    background: lightgreen !important;
}
.off {
    background: lightcoral !important;
}